/* * {
    margin: 0;
} */

/* html {
    font-size: 10px;
} */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

.wrapper-wide {
    margin: 0 auto;
    max-width: 1410px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.column {
    margin: 0 15px;
    width: 270px;
}

header li,
.copyright li {
    display: inline-block;
}

/* table {
    width: 16%;
} */

.flex {
    display: none;
}

.list:hover>.flex {
    display: flex;
}

.in-list li {
    display: block;
}

.tablet {
    position: relative;
}

.arrow-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #131313;
}

.arrow-right:hover~.bg-tablet {
    background: url(../img/bg-tablet2.jpg) right top;
}

.bg-tablet {
    height: 540px;
    padding: 170px 70px;
    box-sizing: border-box;
    background: url(../img/bg-tablet1.jpg) right top;
}

.bg-macbook {
    position: relative;
    height: 540px;
    padding: 145px 70px;
    box-sizing: border-box;
    background: url(../img/bg-macbook.jpg) right top;
}

.social {
    text-align: center;
}