* {
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Segoe UI", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

.wrapper-wide {
    margin: 0 auto;
    max-width: 1410px;
    /* position: relative; */
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

header li,
.copyright li {
    display: inline-block;
}

.top-menu>li {
    padding: 20px 13px;
}

.social p,
.header a {
    font-size: 1.5rem;
    line-height: 2.0em;
    color: #262626;
}

header {
    position: relative;
}

.in-menu-bg {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
}

.list:hover>.in-menu-bg {
    display: block;
    z-index: 1;
}

.in-menu {
    margin: 0 auto;
    max-width: 1200px;
}

.list:hover {
    background-color: #f2f2f2;
}

.in-menu thead a {
    line-height: 21px;
    color: #262626;
}

.in-menu a {
    line-height: 19px;
    color: #616161;
}

.view-all {
    position: relative;
    padding: 10px;
    color: #262626;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.71em;
    text-align: center;
    text-transform: uppercase;
    background-color: #e6e6e6;
}

.view-all a {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.view-all:after {
    content: "";
    position: absolute;

}

.show {
    appearance: none;
}

.show:checked~.hide+label,
.show:checked~.login {
    display: block;
}

.hide {
    appearance: none;
    position: absolute;
}

.hide+label {
    display: none;
    position: absolute;
    left: calc(50% + 180px);
    top: 225px;
    color: #131313;
    font: 700 1.5rem Arial;
    z-index: 2;
    transform: rotate(45deg);
}

/* .hide:checked+label, */
.hide:checked~.login {
    display: none;
}

.login {
    display: none;
    content: "";
    position: absolute;
    padding: 30px;
    left: calc(50% - 205px);
    top: 220px;
    width: 350px;
    height: 210px;
    background-color: #fff;
    z-index: 1;
}

h5 {
    font-size: 2.8rem;
    color: #0d0d0d;
    text-align: center;
}

[type="submit"] {
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 1.71em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.copyright a,
.column-narrow a,
.login p.forgot {
    font-size: 1.3px;
    line-height: 1.46em;
    color: #616161;
}

.login a.recover {
    font-size: 1.3px;
    line-height: 1.46em;
    color: #0067b8;
}

.tablet {
    position: relative;
}

h3 {
    max-width: 400px;
    font-weight: bold;
    font-size: 4.6rem;
    line-height: 1.05em;
    color: #fff;
}

.tablet p {
    max-width: 400px;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #fff;
}

.bg-tablet {
    height: 540px;
    padding: 170px 70px;
    box-sizing: border-box;
    background: url(../img/bg-tablet1.jpg) right top;
}

.next:checked~.bg-tablet {
    background: url(../img/bg-tablet2.jpg) right top;
}

.check[type="radio"] {
    appearance: none;
    position: absolute;
}

.previous[type="radio"]:before,
.next[type="radio"]:after {
    content: "";
    position: absolute;
    left: 580px;
    top: 508px;
    width: 7px;
    height: 7px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.next[type="radio"]:after {
    left: 595px;
}

.previous[type="radio"]:checked:before,
.next[type="radio"]:checked:after {
    background-color: #fff;
}

.check+label:before,
.check+label {
    position: absolute;
    bottom: 0;
    right: 0;
}

.check+label:before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: #1f1f1f;
}

.check.previous+label:before {
    bottom: 45px;
}

.check:checked+label:before {
    background-color: #47443f;
}

.check+label:after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 18px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}

.check.previous+label:after {
    bottom: 60px;
    right: 15px;
    transform: rotate(-45deg);
}

.cta a,
.content a.ttu {
    text-transform: uppercase;
    text-decoration: none;
    color: #0067b8;
    font-size: 1.3rem;
    line-height: 1.54em;
    letter-spacing: 1px;
}

.content a.ttu:hover {
    text-decoration: underline;
}

.cta a {
    display: inline-block;
    padding: 15px 25px;
    color: #262626;
    background-color: #fff;
}

.cta a:hover {
    color: #fff;
    background-color: #262626;
}

h1 {
    color: #0d0d0d;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.09em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.column-wide {
    margin: 0 15px;
    width: 23%;
    max-width: 270px;
}

h2 {
    font-size: 2.0rem;
    line-height: 1.2em;
    color: #0d0d0d;
}

.column-wide p {
    font-size: 1.5rem;
    line-height: 1.4em;
    color: #262626;
}

.bg-macbook {
    position: relative;
    height: 540px;
    padding: 145px 70px;
    box-sizing: border-box;
    background: url(../img/bg-macbook.jpg) right top;
}

.bg-macbook p {
    max-width: 450px;
    font-size: 1.6rem;
    line-height: 1.5em;
    color: #0d0d0d;
}

.bg-macbook h3 {
    max-width: 450px;
    color: #0d0d0d;
}

.bg-macbook .cta a {
    color: #fff;
    background-color: #0d0d0d;
}

.bg-macbook .cta a:hover {
    color: #0d0d0d;
    background-color: #fff;
}

.social {
    text-align: center;
}

.column-narrow h4 {
    font-size: 1.5rem;
    line-height: 1.6em;
    color: #616161;
}

.copyright a {
    font-size: 1.2rem;
}

.copyright p {
    position: relative;
    padding-left: 35px;
}

.copyright p:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-image: url(../img/lang.png);
}